<section class="bg-black py-24 flex justify-between px-44 gap-40">
  <div class="text-white p-5">
    <h2 class="text-2xl font-sans font-bold">Archivos</h2>
    <ul class="list-inside list-disc pt-5">
      <li>septiembre 2022</li>
      <li>febrero 2020</li>
      <li>enero 2020</li>
      <li>diciembre 2019</li>
      <li>mayo 2019</li>
      <li>febrero 2019</li>
    </ul>
  </div>
  <div class="text-white p-5">
    <h2 class="text-2xl font-sans font-bold pb-5">Buscar Productos</h2>
    <input type="search" name="" id="" class="pt-5">
  </div>
  <div class="text-white overflow-auto p-5">
    <h2 class="text-2xl font-sans font-bold">Noticias Recientes</h2>
    <ul class="list-inside list-disc pt-5">
      <li>JURAMENTO A LA BANDERA Y PROCLAMACION DE ABANDERADOS Y ESCOLTAS DEL AÑO LECTIVO 2002-2023</li>
      <li>EXTRAORDINARIA FUE LA PRESENTACIÓN DEL PLANTEL EN EL DESFILE CULTURAL POR LAS FIESTAS DE PAUTE</li>
      <li>AGRONÓMICO CELEBRÓ SAN VALENTÍN Y CARNAVAL</li>
      <li>AGRONÓMICO SE UNE A HOMENAJES POR CANTONIZACIÓN DE PAUTE</li>
      <li>PADRE ÁNGEL LAZO VISITA EL PLANTEL</li>
    </ul>
</div>
</section>
